<!DOCTYPE html>
<html>
  <head>
    <title>Original</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application",  media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <header>
    <h2>じょいたび<h2>
    <div class="header-list">
    <ul>
    <li><%= link_to "ホーム", toppage_index_path %></li>
    <li><%= link_to"投稿一覧", travels_path%></li>
    <li><%= link_to "新規投稿",new_travel_path %></li>
    <li><% if user_signed_in? %>
          <%= link_to "マイページ", user_path(current_user.id) %>
        <% end %></li>
    </ul>
    </div>
   </header>
   <main>
    <%= yield %>
   </main>
   <footer>
      <p>Copyright © GeekSalon All Rights Reserved.</p>
    </footer>
  </body>
</html>
